.header-container {
    display: flex;
    flex-direction: row;
    max-height: 80px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: #98b4d4;
    box-shadow: 0 1px 6px rgb(0 0 0 / 10%);
}

.main-nav ul li {
    display: inline;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

.main-nav a {
    display: inline-block;
}

.nav-title {
    color: #262626;
    font-size: 1.5rem;
}

.highlight {
    color: #f9c64e;
}

.navbar-logo {
    color: #f9c64e;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-icon {
    margin-right: 0.5rem;
}

@media (min-width: 960px) {
    .main-header .header-container {
        justify-content: space-between;
    }
}

@media screen and (min-width: 600px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        margin-left: 2.3em;
    }
    nav {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}