
//Variables Colors

$main-color: #98b4d4;
$white: #ffffff;
$black: #000;

$title-color: #536273;
$text-color: #262626;
$undertone-text-color: #808080;

$btn-color: #f9c64e;

//Mixins

@mixin btn-style {
    padding: 12px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    white-space: nowrap;
    font-weight: 700;
}


*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class], ol[class], li[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

.main-container {
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}