@import '../styles/App.scss';


.profile-container {
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 0.4fr 1.2fr 1.4fr; 
  gap: 0px 0px; 

  .profile-header-section {
    display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    "title title title"
    ". . ."; 
  grid-area: 1 / 1 / 2 / 4; 

    .title {
        grid-area: title;
        border-bottom: 1px solid #eee;
    }
  }

  .left-column {
      grid-area: 2 / 1 / 4 / 2;

      .avatar-widget{
        grid-area: avatar;
        width: 90px;
      }
      .user-name {
        grid-area: user-name;
        font-size: 16px;
        font-weight: 500;
      }
  }

  .right-column {
    grid-area: 2 / 2 / 4 / 4;

    .nav-user-profile {
        display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1.6fr 0.7fr 0.7fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "navigation navigation navigation"
    ". . ."
    ". . ."; 
  grid-area: 2 / 2 / 3 / 4; 

  .navigation {
    display: grid; 
    grid-template-columns: 0.7fr 0.7fr 1.6fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". . ."
    "first second third"
    ". . ."; 
  grid-area: navigation; 

  .first {
    grid-area: first;
  }
  .second {
    grid-area: second;
  }
  .third {
    grid-area: third;
  }

  .profile-links {
    color: $text-color;
    padding: 7px 15px;
    border: 1px solid #dddd;
    border-radius: 6px;

    &:hover {
        background-color: $title-hover;
        color: white;
    }
  }
  }
    }

    .panel-list-films {
        display: grid; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "one-film one-film one-film"
    ". . ."
    ". . ."; 
  grid-area: 3 / 2 / 4 / 4; 

  .one-film {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "poster . ."
      "poster name-of-film stars"
      "poster . ."; 
    grid-area: one-film; 

    .rating-poster {
        grid-area: poster;
        width: 64px;
    }

    .name-of-film {
        grid-area: name-of-film;
    }

    .rating-stars {
        grid-area: stars;
    }
  }
    }
  }

  
}