
@import '../styles/App.scss';

.btn {
    @include btn-style;
}

.btn-primary {
    background-color: $btn-color;
    color: $text-color;
}

.btn-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 8px 16px;
    height: 100%;
    width: 100%;
}

.btn-back {
    display: inline-block;
    margin-top: 40px;
    @include btn-style;
    background-color: $btn-color;
    color: $text-color;
}

