@import '../styles/App.scss';

.checkbox-container {
    vertical-align: middle;
}

.styled-checkbox {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: $main-color;
    border-radius: 3px;
    transition: all 150ms;
}