@import '../styles/App.scss';

.background-line {
    background-color: $main-color;
}

.header-container {
    display: flex;
    flex-direction: row;
    max-height: 80px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: $main-color;
    /* box-shadow: 0 1px 0 rgb(0 0 0 / 10%); */
}

.main-nav ul li {
    display: inline-block;
    padding: 0 1.4em 0 0;
    font-size: 0.9em;
}

.nav-title {
    color: $text-color;
    font-size: 1.5rem;
}

.highlight {
    color: $btn-color;
    font-size: 1.5rem;
}

.navbar-logo {
    color: $btn-color;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
}

.navbar-icon {
    margin-right: 0.5rem;
}

.btn-color {
    background-color: $btn-color;
}

@media (min-width: 960px) {
    .main-header .header-container {
        justify-content: space-between;
    }
}

@media screen and (min-width: 600px) {
    .header-container {
        flex-direction: row;
        justify-content: space-between;
    }
    .logo {
        margin-left: 2.3em;
    }
    nav {
        align-self: center;
        margin: 0 0.8em 0 0;
    }
}