@import '../styles/App.scss';

    .rating {        
        position: relative;
        bottom: 70px;
        width: 100%;
        height: 60px;
        background-color: rgba(0,0,0,0.3);

        .rate-box {
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1fr 1fr;
            width: 100%;
            height: 100%;

                .rating-plus {
                    justify-self: center;
                    font-size: 30px;
                    margin-top: 10px;
                    color: #98cfa0;   
                }

                .rating-count{
                    justify-self: center;
                    font-size: 24px;
                    line-height: 56px;

                    .rate-num{
                        color: #ffff;
                        font-weight: 700;
                    }

                    .vote-num {
                        opacity: 0;
                        position: absolute;
                        background-color: rgba(0,0,0,0.8);
                        color: #fff;
                        text-align: center;
                        min-height: 30px;
                        padding: 5px 0;
                        line-height: 20px;
                        bottom: 100%;
                        left: 75px;
                        width: 50%;
                        border-radius: 3px;
                        font-size: 12px;
                        transition: ease 0.2s all;

                        &::before{
                            position: absolute;
                            content: "";
                            display: block;
                            left: 50%;
                            margin-left: -6px;
                            bottom: -12px;
                            border: 6px solid transparent;
                            border-top-color: rgba(0,0,0,0.8);
                        }                   
                    }

                    &:hover .vote-num {
                        display: block;
                        opacity: 1;
                    }
                }

                .rating-minus {
                    justify-self: center;
                    margin-top: 10px;
                    font-size: 30px;
                    color:$btn-color;
                }
    }
}